<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0"><dict><key>Label</key><string>com.joaopaulo.devflow.demo</string><key>ProgramArguments</key><array><string>/usr/bin/python3</string><string>-m</string><string>http.server</string><string>8791</string><string>--bind</string><string>127.0.0.1</string><string>--directory</string><string>/Users/joaopaulo/Library/Application Support/DevFlow/projects/curso-capital-visual-v3</string></array><key>WorkingDirectory</key><string>/Users/joaopaulo/Library/Application Support/DevFlow/projects/curso-capital-visual-v3</string><key>RunAtLoad</key><true/><key>KeepAlive</key><true/><key>StandardOutPath</key><string>/Users/joaopaulo/Library/Application Support/DevFlow/runtime/demo.log</string><key>StandardErrorPath</key><string>/Users/joaopaulo/Library/Application Support/DevFlow/runtime/demo.err</string></dict></plist>
